/* Modern Serif Font Stack - Fraunces + JetBrains Mono */
/* Fonts loaded via <link> in homepage.html <head> for better performance */

body {
  background-color: #fff;
  padding:0px;
  font-family: "Fraunces", "Georgia", "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.6;
  color:#2c3e50;
  font-weight:400;
  margin:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Enhanced typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #1a202c;
}

code, pre, .highlight {
  font-family: "JetBrains Mono", "Fira Code", Consolas, Monaco, monospace;
  font-size: 0.9em;
}
